<section id="projects" class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24">
	<div class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0">
		<h2 class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only">Projets</h2>
	</div>
	<div>
		<ol class="">
			{% for project in projects %}
				<li class="mb-12">
					<div class="lg:flex lg:justify-between lg:gap-1">
						<header class="sm:col-span-2 lg:w-1/5 lg:flex-col ">
							<div class="basis-1/6"><img class="rounded-2xl" src="{{ asset('images/personal_projects/') }}{{ project.fileName}}">
							</div>
						</header>
						<div class="sm:col-span-6 lg:w-4/5 lg:flex-col ">
							<h3 class="font-medium leading-snug text-slate-100 hover:text-amber-500 hover:underline">
								<a href="{{ project.url }}" target="_blank">{{ project.name }}
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 2 24 24" stroke-width="1.5" stroke="currentColor" class="inline-block h-4 w-4">
										<path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"/>
									</svg>
								</a>
							</h3>
							<p class="mt-2 text-sm leading-normal">
								{{ project.description|raw }}
							</p>
							<ul class="mt-2 flex flex-wrap">
								{% for tag in project.tags.tags %}
									<li class="mr-1.5 mt-2">
										<div class="flex items-center rounded-full border-2 border-amber-400 px-3 py-1 text-xs font-medium leading-5 text-amber-500 ">{{ tag }}</div>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</li>
			{% endfor %}
		</ol>
	</div>
</section>
