{% extends 'base.html.twig' %}

{% block title %}Contact me!
{% endblock %}

{% block body %}
    <section class="align-middle" xmlns="http://www.w3.org/1999/html">
        <div class="flex flex-col items-center justify-center px-2 py-8 mx-auto md:h-screen lg:py-0">
            <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        Me contacter !
                    </h1>
                    {{ form_start(form) }}
                    <div id="contact">
                        <div class="mb-6">
                            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white required"
                                   for="contact_name">Nom
                            </label>
                            <input type="text"
                                   id="contact_name"
                                   name="{{ field_name(form.name) }}"
                                   value="{{ field_value(form.name) }}"
                                   required="required"
                                   class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-amber-600 focus:border-amber-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-amber-500 dark:focus:border-amber-500"
                                   spellcheck="false"
                            >
                        </div>
                        <div class="mb-6">
                            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white required"
                                   for="contact_email">Email</label>
                            <input type="email"
                                   id="contact_email"
                                   name="{{ field_name(form.email) }}"
                                   value="{{ field_value(form.email) }}"
                                   required="required"
                                   class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-amber-600 focus:border-amber-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-amber-500 dark:focus:border-amber-500"
                            >
                        </div>
                        <div class="mb-6">
                            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                   for="contact_message">Message</label>
                            <textarea id="contact_message"
                                      name="{{ field_name(form.message) }}"
                                      value="{{ field_value(form.message) }}"
                                      required="required"
                                      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-amber-600 focus:border-amber-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-amber-500 dark:focus:border-amber-500">
                            </textarea>
                        </div>
                    </div>
                    <div class="flex items-center justify-between">
                        <a class="w-1/5 text-white bg-gray-600 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
                                href="{{ path('homepage') }}"
                                type="button"
                        >
                            Annuler
                        </a>
                        {{ form_widget(form.submit, {
                            'attr': {'class' : 'w-3/5 text-white bg-amber-600 hover:bg-amber-700 focus:ring-4 focus:outline-none focus:ring-amber-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-amber-600 dark:hover:bg-amber-700 dark:focus:ring-amber-800'}
                        }) }}
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}